modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run Application"

[[workflows.workflow]]
name = "Run Application"
author = 48609027
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn start"

[[ports]]
localPort = 5000
externalPort = 80
